<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Jika file atau folder ada, pakai langsung
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Semua route lain arahkan ke React
  RewriteRule ^ index.html [L]
</IfModule>